extends adminPage  

block admin_listMus  

    h1 Список композиций 
    div(class='light-theme')
                div(class="playlist")
                    if(dataMusic.length!=0)
                        each val in dataMusic
                            div(class="song_item align-items-center" data_song_id=val._id)
                                div(class="botton_song" data_song_id=val._id)
                                    div(class="button_play" data_song_id=val._id src="/img/play.png" href=val.rout val=val.name)
                                div(class="song_content" data_song_id=val._id)
                                    a(class="song_name" href=val.getMusic) #{val.name}
                                div(class="playlistData" data_song_id=val._id)
                                    button(type="button" class="btn btn-primary buttonTrackData" data_song_id=val._id data-toggle="modal" data-target="#exampleModal3") + 
                                    div(class="modal" id="exampleModal3" modal_song_id=`modal_song_id-${val._id}`)
                                        div(class="modal-dialog" role="document")
                                            div(class="modal-content" data_song_id=val._id)
                                                div(class="modal-header")
                                                    h5(class="modal-title" id="exampleModal3Label") Список плэйлистов
                                                    button(type="button" class="close" data_song_id=val._id)
                                                        span(aria-hidden="true") &times;
                                                div(class="modal-body")
                                                    if(dataPlaylist.length!=0)
                                                        div(class="row")
                                                            div(class="col d-grid gap-2 list_btn_for_send")
                                                                each playlist in dataPlaylist
                                                                    button(class="btn btn-outline-info btn_playlist_id" type="submit" id_song=val._id id_playlist=playlist._id) <h7>#{playlist.name}</h7>
                                                    else 
                                                        p Нет плэйлистов
                        else 
                            p Треки не найдены!
    div(class="row fixed-bottom")
        div(class="col-lg-2")
            br
        div(class="col-lg-8 footer_palyer_wrapper justify-content-center text-center shadow")
            div(class="player hideClass")
                div(class="name_song") 
                | 
                <audio class="audio_player" src=''></audio>
                div(class="progress_container_player")
                    div(class="progress_player")
                div(class="buttons_player")
                    div(class="btn prev_player")
                        img(class="prev_player_img" src="/img/prev.png", alt="previos")
                    div(class="btn")
                        img(class="play_player" src="/img/play.png", alt="play")
                    div(class="btn next_player")
                        img(class="next_player_img" src="/img/next.png", alt="next")
                    div(class="btn volume_player")
                        img(class="volume_player_img" src="/img/volume.png", alt="volume")
                    div(class="btn change_size__volume hideClass")
                        div(class="size_volume")
        div(class="col-lg-2")
    script(src="/javascripts/admin_listMusic.js")