extends adminPage

block admin_listPlaylists 

    h1=title 

    div(class="content")
        div(class="row")
            div(class="col")
                div(class="card")
                    ul(class="list-group list-group-flush")
                        each valList in dataPlaylists.dataPlaylists
                            li(class="list-group-item")
                                h4 плэйлист - 
                                    a(href=`http://localhost:3000/v1/api/adminCatalog/playlists/${valList._id}`) #{valList.name} 
                                h5 Пользователь - 
                                    //- a(href=`http://localhost:3000${valList.getUsersPlaylists_admin}`) #{valList.userId.login}
                                    a(href=`http://localhost:3000/v1/api/adminCatalog/users/${valList.userId._id}`) #{valList.userId.login}
                        