extends layout  
block detailPlaylist 
    h1 Выбранный плэйлист - #{MusData.NamePlaylistUser}
    h4 Создатель плэйлиста - #{MusData.UserID_has_Playlist.username}

    div(class="main-playlist col-sm-12")
        ul(class="nav justify-content-center")
            li(class="nav-item")
                a(class="nav-link col-sm-6" href=MusData._id+"/delete") Удалить плэйлист
            li(class="nav-item")
                a(class="nav-link col-sm-6" href=MusData._id+"/edit") Изменить плэйлист
        block playlistEdit
        block playlistDelete
        div(class="data_about_playlist")
            p 
                a(class="btn btn-primary" data-toggle="collapse" href=`#${MusData.NamePlaylistUser}` aria-expanded="false" aria-controls="collapseExample") Раскрыть
                    a(class="namePlaylist" href=MusData.url) #{MusData.NamePlaylistUser} 
            div(class="collapse" id=`${MusData.NamePlaylistUser}`)
                div(class="card card-body")
                    div(class="track_data" id=`${MusData.NamePlaylistUser}`) #{MusData.NamePlaylistUser} 
                    each item in MusData.playListMusick
                        div(class="item_track" id=`${item._id}`) #{item.name}
        
