extends main 

block main_content

    div(class="content g-3")
        h4(class="display-5") Коротко о разделах
        div(class="row")
            div(class="col g-3")
                h5(class="display-6 g-3") Жанры
                p(class="lead g-3") Представлены некоторые из общего списк жанров, для ознакомления пользователям 
                div(class="row")
                    if(dataJanrs.length!=0)
                        each item_janr in dataJanrs
                            div(class="col")
                                a(href=`/v1/api/main/janrs/${item_janr._id}`) #{item_janr.name} 
                        else 
                            p(class="lead") Жанров для вывода не обнаружено 
                    else 
                        p(class="lead") Передаваемый объект пуст!
                h5(class="display-6 g-3") Композиции
                p(class="lead g-3") Предпросмотр композиций 
                div(class="playlist g-3")
                    if(dataMusic.length!=0)
                        each val in dataMusic
                            div(class="song_item align-items-center" data_song_id=val._id)
                                div(class="botton_song" data_song_id=val._id)
                                    div(class="button_play" data_song_id=val._id src="/img/play.png" href=val.rout val=val.name)
                                div(class="song_content" data_song_id=val._id)
                                    a(class="song_name a_link_mus" href=val.getMusic) #{val.name}
                        else 
                            p Треки не найдены!
    div(class="fixed-bottom") 
        div(class="footerText")
            <small class="text-body-secondary"> По всем вопросам можно обращаться ко мне на почту - alexy.alexy98@mail.ru</small>
        div(class="footerText")
            <small class="text-body-secondary"> Все загруженные треки предоставляются по лиценсии CC0</small>
    script(src="/javascripts/main_listMusic.js")