extends adminPage

block pageJanrInfo 

    h1(class="align-middle" style='display: inline; padding-right:10px;')=title+' - '+dataJanrItem.name

    div(class="border border-2 rounded-4 content g-3")
        div(class="row")
            div(class="col-sm")
                div(class="row")
                    div(class="col g-3")
                        h5(class="card-title") Название жанра #{dataJanrItem.name}
                div(class="row")
                    div(class="col g-3")
                        h6(class="card-subtitle mb-2 text-body-secondary") Описание жанра
                        p(class="text-center") #{dataJanrItem.descriptions}
                div(class="row g-3")
                    div(class="d-grid gap-2 g-4")
                        button(class="btn btn-secondary btn_for_back" type="submit") Назад
                        button(class="btn btn-warning btn_for_edit") Изменить
                        button(class="btn btn-danger btn_for_delete" id=dataJanrItem._id) Удалить
                div(class='row form_new_data_janr hidden')
                    div(class="col-sm")
                        div(class="card")
                            div(class="card-body")
                                h5(class="card-title") Название жанра
                                input(class="form-control New_NameJanrData" type="text" for="name" name="name" value=(undefined===dataJanrItem ? '' : dataJanrItem.name))
                                <br/>
                                h6(class="card-subtitle mb-2 text-body-secondary") Описание жанра
                                textarea#descriptions(class="form-control New_descriptionsJanrData" rows="5" name='descriptions' value=(undefined===dataJanrItem ? ' - - - ' : dataJanrItem.descriptions)) #{dataJanrItem.descriptions}
                            button(class="btn btn-info New_dataJanr" type="submit" id=dataJanrItem._id) Обновить данные 
    div(class="fixed-bottom") 
          div(class="footerText")
            p По всем вопросам можно обращаться ко мне на почту - alexy.alexy98@mail.ru
    script(src="/javascripts/pageJanrsInfo.js") 
