extends adminPage

block track_add 

    div(class='text-center')
        h1=tite 


        div(class='btn1-addtrack')
            form(method='POST' action="/admin_mod/catalog/tracks/addNew" enctype="multipart/form-data" id="form_POST_data_track")
                div.form-group 
                    label(for="name_track") Название трека:
                    input#name_track.form-control(type="text", placeholder="Название вашего трека" name='name_track' require='true' value=(undefined===new_note ? '' : new_note.name))
                div.form-group
                    label Жанры:
                        div 
                            each data_janr in janr
                                div(style='display: inline; padding-right:10px;')
                                    input.checkbox-input(type='checkbox', name='data_janr', id=data_janr._id, value=data_janr._id, checked=data_janr.checked)
                                    label(for=data_janr._id) #{data_janr.janrName}
                        div.add_janr
                                label(for="") Нет нужного жанра? 
                                a(href="/admin_mod/catalog/janr/addNew")  Добавить новый жанр
                div.form-group
                    label(for="description_track") О треке:
                    input#description_track.form-control(type="text", placeholder="Описание трека" name='description_track' require='true' value=(undefined===new_note ? '' : new_note.description_track))
                label(for="track") Здесь укажите какой трек нужно загрузить
                    input(type="file" name="track" accept="audio/*" id="track")
                input(type="submit" id="btn_send_form_create_track")

        if errors 
            ul 
                for error in errors 
                    li!=error.msg 

                    //- form(action="" method='POST' enctype='multipart/form-data')

    script(defer type="module" src="/scripts/script.js") 