extends adminPage

block update_track_by_id
    h1=title

    form(method='POST' action="")
        .form-group 
            label(for="name") Название: 
            input#name.form-control(type='text', placeholder='Название трека' name='name' required='true' value=(undefined===trackObj ? '' : trackObj.name))
        .form-group 
            label Жанры: 
            div 
                for janr_val in janrs 
                    div(style='display: inline; padding-right: 10px;')
                        input.checkbox-input(type='checkbox', name='janrs_track', id=janr_val._id, value=janr_val._id, checked=janr_val.checked)
                        label(for=janr_val._id) #{janr_val.janrName}
        .form-group 
            label(for="description") Описание для трека: 
            input#description.form-control(type='text', placeholder='Я был рад написать такой трек!!' name='description' value=(undefined===trackObj ? '' : trackObj.description))  
        button.btn.btn-primary(type="submit") Обновить 

    if errors 
        ul 
            for error in errors 
                li!=error.msg  
    